# /etc/squid/squidGuard.conf

dbhome /var/squidGuard/dest
logdir /var/log/squidGuard

src localnet {
  ip {{network_lan}}
}

destination adult {
  domainlist adult/domains
  urllist adult/urls
  log adult
}

destination agressif {
  domainlist agressif/domains
  urllist agressif/urls
  log agressif
}

destination drogue {
  domainlist drogue/domains
  urllist drogue/urls
  log drogue
}

acl {
  localnet {
    pass !adult
    pass !agressif
    pass !drogue
    redirect 302:http://{{hostname}}.{{domain_lan}}/avertissement.html
  }
  default {
    pass none
    redirect 302:http://{{hostname}}.{{domain_lan}}/avertissement.html
  }
}
